#ai_ping_pong
{
    font-size: 30px;
}

h4 
{
  background-color: #f5f5f5;
  line-height: 2;
  margin: 0px;
}

.button_ins 
{
  margin-left: 1400px;
  color: white;
  font-size: medium;
}

.heading 
{
  font-size: 10px;
  width: 100%;
}